@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-mercury text-gray-800;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.article-body {
    @apply
        md:grid
        gap-x-8
        grid-cols-12
        max-w-none
        prose
        mx-auto
        prose-figcaption:font-idealSans
}

.article-body > * {
    @apply
        md:col-start-2 lg:col-start-3 xl:col-start-4
        md:col-end-12 lg:col-end-11 xl:col-end-10
        mt-0;
}

.article-body > p:first-of-type:first-letter {
    @apply float-left mt-[8px] md:mt-3 pr-2 font-idealSans font-semibold text-6xl leading-[0.8] text-gray-800;
}

.article-body > figure {
    @apply mb-5;
}

.article-body > figure + *,
.article-body > * + figure {
    @apply mt-12 md:mt-16 lg:mt-20;
}

.article-body > figure img {
    @apply w-full my-0;
}

.full-strip {
    @apply md:relative md:left-1/2 md:right-1/2 md:ml-[-50vw] md:mr-[-50vw] md:w-screen;
}
